//Sample Media Queries

$screen-size-10-and-down: "screen and (max-width: 19.938em)";
$screen-size-10-and-up: "screen and (min-width: 20em)";
$screen-size-20-and-down: "screen and (max-width: 24.938em)";
$screen-size-20-and-up: "screen and (min-width: 25em)";
$screen-size-30-and-down: "screen and (max-width: 37.438em)";
$screen-size-30-and-up: "screen and (min-width: 37.5em)";
$screen-size-40-and-down: "screen and (max-width: 49.938em)";
$screen-size-40-and-up: "screen and (min-width: 50em)";
$screen-size-50-and-down: "screen and (max-width: 59.938em)";
$screen-size-50-and-up: "screen and (min-width: 60em)";
$screen-size-60-and-down: "screen and (max-width: 63.938em)";
$screen-size-60-and-up: "screen and (min-width: 64em)";
$screen-size-70-and-down: "screen and (max-width: 80em)";
$screen-size-70-and-up: "screen and (min-width: 80em)";